<ion-header>
    <ion-toolbar color="medium">
        <ion-title>
            COMMUNITY
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

    <ion-card>
        <ion-card-header>
            <ion-card-subtitle>TED TALK</ion-card-subtitle>
            <ion-card-title>Watch one</ion-card-title>
            <img src="/assets/ted.png" />
        </ion-card-header>
        <ion-card-content>
            TED Talks are like a mini-lecture. They just might teach you more about yourself, or inspire you to innovate. Plus, they’re only about 20 minutes—watch one while getting ready for work in the morning, or during your lunch break, or when you’re sitting
            in a waiting room for a super-quick knowledge boost.
        </ion-card-content>
    </ion-card>


    <ion-card>
        <ion-item>
            <ion-icon name="heart"></ion-icon>
        </ion-item>
        <ion-card-content>
            Do it today, do not procrastinate
        </ion-card-content>
    </ion-card>

    <ion-card>
        <ion-card-header>
            <ion-card-subtitle>EXERCISE</ion-card-subtitle>
            <ion-card-title>Let´s Move</ion-card-title>
            <img src="/assets/move.png" />
        </ion-card-header>
        <ion-card-content>
            We all know how important this is, but few people do it consistently. Other than health benefits too numerous to mention, exercise makes you smarter, happier, improves sleep, increases libido and makes you feel better about your body. A Harvard study
            that has tracked a group of men for more than 70 years identified it as one of the secrets to a good life.
        </ion-card-content>
    </ion-card>
    <ion-card>
        <ion-item>
            <ion-icon name="star"></ion-icon>
        </ion-item>
        <ion-card-content>
            Believe in your self
        </ion-card-content>
    </ion-card>

    <ion-card>
        <ion-card-header>
            <ion-card-subtitle>MEDITATE</ion-card-subtitle>
            <ion-card-title>Inspire, Expire</ion-card-title>
            <br>
            <img src="/assets/meditation.png" />
        </ion-card-header>
        <ion-card-content>
            Meditation can increase happiness, meaning in life, social support and attention span while reducing anger, anxiety, depression and fatigue. Along similar lines, prayer can make you feel better — even if you’re not religious.
        </ion-card-content>
    </ion-card>


</ion-content>